body {
    height: 100%;
}

.footer {
    background: #ecf0f1;
    overflow:hidden;
    position:fixed;
    bottom: 0;
    width: 100%;
    
   }

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffffff
}

li {
    /* display: inline; */
    float: left;
}

a {
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ffffff;
}

/* Search */

.search {
    width: 100%;
    position: relative;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3x solid #000000;
    padding: 5px;
    height: 20px;
    /* border-radius: 5px; */
}

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}